<!--
  ~ Copyright 2021 LINE Corporation
  ~
  ~ LINE Corporation licenses this file to you under the Apache License,
  ~ version 2.0 (the "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at:
  ~
  ~   https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>WebAuthn Test App</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">FIDO2</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <br />
    <h3>LINE Corp. WebAuthn Test Web</h3>
    <fieldset class="form-group">
      <legend class="col-form-label">
        <h4>User Information</h4>
      </legend>
      <div class="row">
        <div class="col">User name</div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-control" type="text" [(ngModel)]="username" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">Display name</div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-control" type="text" [(ngModel)]="displayName"
              placeholder="Enter human readable name like your name" />
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend class="col-form-label">
        <h4>Register credential Options</h4>
      </legend>
      <div class="row">
        <div class="col">
          <b>Attestation conveyance preference</b>
        </div>
        <div class="col-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="specifyAttestationConvenyance"
              id="specifyAttestationConvenyance" value="specifyAttestationConvenyance"
              [(ngModel)]="specifyAttestationConvenyance" checked />
            Specify
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attestationConveyancePreference"
              id="attestationConveyancePreferenceNone" value="none" [(ngModel)]="attestation" checked />
            <label class="form-check-label" for="attestationConveyancePreferenceNone">
              None (default)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attestationConveyancePreference"
              id="attestationConveyancePreferenceIndirect" [(ngModel)]="attestation" value="indirect" />
            <label class="form-check-label" for="attestationConveyancePreferenceIndirect">
              Indirect
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attestationConveyancePreference"
              id="attestationConveyancePreferenceDirect" [(ngModel)]="attestation" value="direct" />
            <label class="form-check-label" for="attestationConveyancePreferenceIndirect">
              Direct
            </label>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <b>Authenticator selection</b>
        </div>
        <div class="col-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="specifyAuthenticatorSelection"
              id="specifyAuthenticatorSelection" value="specifyAuthenticatorSelection"
              [(ngModel)]="specifyAuthenticatorSelection" checked />
            Specify
          </div>
        </div>
        <div class="col-6"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col">> Authenticator Attachment</div>
        <div class="col-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="specifyAuthenticatorAttachment"
              id="specifyAuthenticatorAttachment" value="specifyAuthenticatorAttachment"
              [(ngModel)]="specifyAuthenticatorAttachment" checked />
            Specify
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attachment" id="attachmentPlatform" value="platform"
              [(ngModel)]="attachment" checked />
            <ng-container *ngIf="isSupportAttachmentPlatform; else notSupportAttPlatform">
              <label class="form-check-label" for="attachmentPlatform">
                On bound (platform) authenticator
              </label>
            </ng-container>
            <ng-template #notSupportAttPlatform>
              <label>
                On bound (platform) authenticator
                <span class="errorText">- Reported as not available</span>
              </label>
            </ng-template>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="attachment" id="attachmentCrossPlatform"
              value="cross-platform" [(ngModel)]="attachment" />
            <label class="form-check-label" for="attachmentCrossPlatform">
              On roaming (cross-platform) authenticator
            </label>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">> Require resident key (username-less flow)</div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="requireResidentKey" id="requireResidentKey"
              value="requireResidentKey" [(ngModel)]="requireResidentKey" checked />
            Default to unchecked
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          > User verification required (also for authentication)
        </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="userVerificationRequired"
              id="userVerificationRequiredRequired" value="required" [(ngModel)]="userVerificationRequired" />
            <label class="form-check-label" for="userVerificationRequiredRequired">
              Required
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="userVerificationRequired"
              id="userVerificationRequiredPreferred" value="preferred" [(ngModel)]="userVerificationRequired" checked />
            <label class="form-check-label" for="userVerificationRequiredPreferred">
              Preferred (default)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="userVerificationRequired"
              id="userVerificationRequiredDiscouraged" value="discouraged" [(ngModel)]="userVerificationRequired" />
            <label class="form-check-label" for="userVerificationRequiredDiscouraged">
              Discouraged
            </label>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <b>CredProtect Extension</b>
        </div>
        <div class="col-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="enableCredProtect" id="enableCredProtect"
              [(ngModel)]="enableCredProtect" value="enableCredProtect" />
            Specify
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="enforceCredentialProtectionPolicy"
              id="enforceCredentialProtectionPolicy" [(ngModel)]="enforceCredentialProtectionPolicy"
              value="enforceCredentialProtectionPolicy" />
            Enforce policy (default unchecked)
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="credentialProtectionPolicy" id="userVerificationOptional"
              value="userVerificationOptional" [(ngModel)]="credentialProtectionPolicy" checked />
            <label class="form-check-label" for="userVerificationOptional">
              User Verification Optional
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="credentialProtectionPolicy"
              id="userVerificationOptionalWithCredentialIDList" value="userVerificationOptionalWithCredentialIDList"
              [(ngModel)]="credentialProtectionPolicy" />
            <label class="form-check-label" for="userVerificationOptionalWithCredentialIDList">
              User Verification Optional With CredentialID List
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="credentialProtectionPolicy" id="userVerificationRequired"
              value="userVerificationRequired" [(ngModel)]="credentialProtectionPolicy" />
            <label class="form-check-label" for="userVerificationRequired">
              User Verification Required
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <!--
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-md-3 pt-0">
          <b>Authenticate credential</b>
        </legend>
        <div class="col-md-9">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="allowCredentials" id="allowCredentialsFilled" value="filled" checked>
            <label class="form-check-label" for="allowCredentialsFilled">
              Last created in this browser
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="allowCredentials" id="allowCredentialsEmpty" value="empty">
            <label class="form-check-label" for="allowCredentialsEmpty">
              Any credential (allowCredentials empty)
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    -->
    <br />

    <button class="btn btn-primary" href="#" role="button" type="button" [disabled]="isRegBtnShow"
      (click)='registerButtonClicked()'>
      <i [hidden]="!ishiddenRegSpinner" class="fa fa-spinner fa-spin spinner hidden" id="registerSpinner"></i>Register
    </button>
    <button class="btn btn-primary" href="#" role="button" type="button" [disabled]="isAuthenticateBtnShow"
      (click)="authenticateButtonClicked()">
      <i class="fa fa-spinner fa-spin spinner" id="authenticateSpinner" [hidden]="ishiddenAuthSpinner"></i>Authenticate
    </button>
    <!--
    <button class="btn btn-primary" href="#" role="button" type="button" id="cancel">
      <i class="fa fa-spinner fa-spin spinner hidden" id="cancelSpinner"></i>Cancel</button>
    -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="check">
      <i class="fa fa-spinner fa-spin spinner hidden" id="checkSpinner"></i>Check results
    </button>
    <br />
    <br />
    <br />
    <div class="alert alert-primary" role="alert" id="status" [hidden]="!isShowStatusMSg">
      {{ statusText || "Successfully received assertion" }}
    </div>
    <br />
    <br />
    <div class="container" id="credentialListContainer"></div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>
